.chart {
    margin: 10px 5px 10px 10px; 
    display: block;
    height: 190px;
    width: 350px;
    border: 1px solid white;
    box-shadow: 5px 10px #888888;
}

.mat-card {
    min-width: 300px;
    border-radius: 0px;
}