.chart {
    margin: 10px 5px 10px 10px; 
    display: block;
    height: 165px;
    width: 300px;
    border: 1px solid black;
}

.list {
    margin: 10px 5px 10px 10px; 
    display: block;
    border: 7px double black;
    width: auto;
    height: auto;
}

.mat-card {
    border-radius: 0px;
    min-width: 280px;
    max-height: 150px;
}

.group-field {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.card-title {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

::ng-deep .mat-tab-body-content {
    height: 100%;
    overflow: hidden !important;
}